@charset "utf-8";
/* CSS Document */


@-webkit-keyframes start {
  from {color: #2ee600; text-shadow: 6px 10px 5px black;}
  to {color: white;}
}

@keyframes float { /* Home Page Logo Float Animation */
	50% {transform: translateY(20px);}
}

@keyframes float2 { /* Home Page Logo Float Animation */
	50% {transform: translateY(10px);}
}

/*
=================================================================================================
===================================  Pretty Background  =========================================
=================================================================================================
*/

body {
	margin: 0px;
	background-color: black;
	overflow: hidden;
}

.bg {
	width: 100%;
	height: 100vh;	
	position: absolute;
	align-content: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
}

#bg0 {
	position: absolute;
	animation: none;
	background-color: black;
	z-index: 5;
	opacity: 1;
}

#bg01 {
	width: 100%;
	height: 100vh;	
	background-image: linear-gradient(180deg,#55d743, #caff40);
	z-index: 0;
	opacity: 1;
	filter: blur(300px);
}

#bg02 {
	width: 100%;
	height: 100vh;	
	background-color: #3bbd1a;
	z-index: -1;
	opacity: 1;
}

#bg1 {
	position: absolute;
	z-index: -3;
}

#bg2 {
	position: absolute;
	z-index: -2;
	filter: contrast(85%) blur(300px) saturate(200%) brightness(110%) hue-rotate(20deg);
	opacity: 0.95;
}

/*
=================================================================================================
=======================================  Scene 1  ===============================================
=================================================================================================
*/
.Scene1 {	
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	position: absolute;
	z-index: 4;
}

#info {
	position: absolute;
	top: 8px;
	left: 8px;
	padding: 0px 0px;
	height: 50px;
	width: 50px;
	z-index: 1;
	border-radius: 30px;
	border-style: hidden;
	font-size: 30px;
	opacity: 0.75;
}

#s1 {
	top: 8px;
	right: 8px;
}

#titleBox {
	position: absolute;
	visibility: hidden;
	z-index: 6;
	transform: translateY(-155px);
}

#title {
    text-align: center;
    font-size: 135px;
    font-family: 'Rubik', sans-serif;
	font-style: italic;
	font-weight: 650;
    color: black;
	animation: float 6s ease-in-out infinite normal;
	text-shadow: 6px 10px 5px #ffffff;
}

#black {
	color: white;
	text-shadow: 6px 10px 5px #000000;
	cursor: default;
}

#black:hover {
	color: black;
	text-shadow: 6px 10px 5px #ffffff;
}

#cash {
	position: relative;
	margin-left: 35px;
	color: white;
	text-shadow: 6px 10px 5px #000000;
	animation: start 1.3s linear normal;
	cursor: default;
}

#cash:hover {
	color: #2ee600;
	text-shadow: 6px 10px 5px black;
}

#subtitle {
	position: absolute;
	width: 100%;
	top: 150px;
	font-weight: 450;
	font-size: 40px;
	color: white;
	text-shadow: 3px 4px 3px #000000;
	cursor: default;
}

.startBox {
	position: absolute;
	z-index: 1;
	transform: translateY(95px);
	height: 86px;
}

#start {
	padding: 16px 32px;
	border-radius: 40px; 
	background: #383838;
	color: var(--text);
	font-size: 50px;
}

#guest {
	position: relative;
	font-size: 25px;
	top: 315px;
}

#guest:hover { color: rgba(89,89,89,0.59); text-decoration: underline;}


/*
=================================================================================================
=======================================  Scene 2  ===============================================
=================================================================================================
*/

.Scene2 {
	visibility: hidden;
	
	height: 500px;
	width: 100%;
	position: absolute;
	align-items: center;
	justify-content: center;
	display: flex; 
	z-index: 3;
}

#c2 {
	position: absolute;
	font-size: 50px;
	top: 245px;
	text-align: center;
	width: 770px;
	animation: float2 6s ease-in-out infinite normal;
	cursor: default;
	text-shadow: 4px 4px 3px #000000;
}

#formBox {
	position: fixed;
	width: 100%;
	height: 100px;
	top: 450px;
	display: flex;
	justify-content: center;
}

#access {
	height: 86px;
	margin-left: 10px;
	border-radius: 40px;
	border-style: hidden;
}

#guest {
	cursor: pointer;
	left: 238px;
}

/*
=================================================================================================
=======================================  Scene 3  ===============================================
=================================================================================================
*/

.Scene3 {
	visibility: hidden;
	
	height: 960px;
	width: 100%;
	position: absolute;
	z-index: 2;
	justify-content: center;
	display: flex;
	filter: blur(0px);
}

.c3 {
	position: absolute;
	font-size: 100px;
	margin-left: -15px;
	top: 2px;
	text-shadow: 5.5px 5.5px 5px #000000;
}

.t3 {
	position: absolute;
	font-size: 50px;
	top: 153px;
	text-align: center;
}

.t32 {
	position: absolute;
	top: 203px;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}

.enter {
	position: absolute;
	align-self: center;
	top: 267px;
	border-radius: 40px;
	border-style: hidden;
}


#entrants {
	position: absolute;
	right: 8px;
	top: 25px;
}

#carousel {
	position: absolute;
	top: 265px;
	width: 100%;
	height: 450px;
	align-content: center;
	

	background-color: rgba(198,198,198,0.60);
	border-bottom: 10px solid rgba(50,50,50,0.7);
	border-top: 7px solid rgba(50,50,50,0.7);
}

#caroContainer {	
	height: 435px;
	justify-content: flex-start;
	align-content: center;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	margin-top: 4px;
	margin-bottom: 20px;
}

#raf {
	position: absolute;
	z-index: -2;
	left: 0px;
	width: 0px;
	height: 0px;
}

.raffle {
	flex-shrink: 0;
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;
	height: 330px;
	width: 310px;
	justify-content: center;
	display: flex;
}

.line {
	display: inline-block;
	height: 370px;
	width: 4px;
	margin: 40px 25px;
	border-radius: 20px;
	background-color: rgba(75,75,75,1.00);
	flex-shrink: 0;
}

.spacer {
	display: inline-block;
	height: 370px;
	width: 4px;
	margin: 40px 0px;
	border-radius: 20px;
	background-color: transparent;
	flex-shrink: 0;
}

.prize {
	position: relative;
	font-size: 25px;
	top: 107px;
	text-shadow: 4px 4px 3px #000000;
}

#s3 {
	bottom: 8px;
	right: 8px;
}

/* width */
::-webkit-scrollbar {
	height: 10px;
	margin-bottom: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	color: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(95,95,95,.35);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
	background: rgba(50,50,50,.4); 
}
/*
=================================================================================================
=======================================  Scene T  ===============================================
=================================================================================================
*/

.SceneT{
	visibility: hidden;
	
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex;
	position: absolute;
	line-height: 600px;
	z-index: 10;
	background-color: rgba(0,0,0,0.65);
}

#cT {
	font-size: 50px;
	text-shadow: 4px 4px 3px #000000;
}

#clock {
	width: 400px;
	font-size: 170px;
	font-family: 'Fredoka One', cursive;
	color: white;
	text-shadow: 6px 10px 5px #000000;
	position: absolute;
	transform: translateY(175px);
	text-align: center;
}

.skipBox {
	position: absolute;
	width: 510px;
	height: 80px;
	transform: translate(80px, 575px);
}

#skip{
	position: fixed;
	border-radius: 40px;
	font-size: 40px;
	left: 280px;
}

#continue{
	position: fixed;
	border-radius: 40px;
	font-size: 40px;
}

/*
=================================================================================================
=======================================  Scene S  ===============================================
=================================================================================================
*/

.SceneS {
	display: flex;
	justify-content: center;
	width: 100%;
	visibility: hidden;
}


#countBox {
	display: flex;
	position: absolute;
	top: 300px;
	height: 255px;
	width: 100%;
	align-content: center;
	justify-content: center;
	overflow: hidden;
}

#sBox {
	height: 100%;
	width: 60%;
	justify-content: center;
	display: flex;
	position: absolute;
	z-index: 5;
	background-color: rgba(198,198,198,0.60);
	border-left: 10px solid rgba(50,50,50,0.7);
	border-right: 10px solid rgba(50,50,50,0.7);
	overflow-y: scroll;
	overflow-x: hidden;
}

#count {
	width: 400px;
	overflow: hidden;
	font-size: 270px;
	font-family: 'Fredoka One', cursive;
	color: white;
	text-shadow: 6px 10px 5px #000000;
	text-align: center;
	align-self: center;
	vertical-align: middle;
}

#UpDownBox {
	height: 170px;
	align-self: center;
	transform: translateY(7px);
}

#up {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	margin-bottom: 10px; 
}

#up:hover {
	transform: translateY(0);
}

#down {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#down:hover{
	transform: translateY(0);
}

.cS{
	position: absolute;
	font-size: 50px;
	text-align: center;
	width: 770px;
	animation: float2 6s ease-in-out infinite normal;
	cursor: default;
	text-shadow: 4px 4px 3px #000000;
}

#cS1 {
	top: 100px;
}

#cS2 {
	top: 650px;
}

#timeBox {
	display: flex;
	position: absolute;
	justify-content: space-around;
	width: 80%;
	top: 880px;
	height: fit-content;
}

.time {
	font-size: 75px;
	width: 200px;
	height: 90px;
	border-radius: 50px;
	opacity: 0.6;
}

#cS3 {
	font-weight: 450;
	font-size: 40px;
	position: absolute;
	top: 1200px;
	opacity: 1;
}

#price {
	position: absolute;
	height: auto;
	top: 1040px;
	font-size: 156px;
}

#cS4 {
	top: 1340px;
}

#catBox {
	display: flex;
	position: absolute;
	justify-content: space-around;
	width: 80%;
	top: 1585px;
	height: fit-content;
}

.cat {
	width: 180px;
	height: 90px;
	border-radius: 50px;
	opacity: 0.4;
}

.cat:active {
	box-shadow: var(--shadow-hover);
}

#food {
	background-color: orange;
}

#art {
	font-size: 50px;
	background-color: red;
}

#apparel {
	font-size: 35px;
	padding: 16px 0px;
	background-color: limegreen;
}

#other {
	padding: 16px 0px;
	background-color:  deepskyblue;
	opacity: 1;
}

#cS5 {
	top: 1800px;
}

#cS6 {
	top: 1850px;
	font-size: 25px;
}

#cS7 {
	top: 2180px;
}

#cS8 {
	top: 2230px;
	font-size: 25px;
}

.dragBox {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 195px;
	border: 4px dashed rgba(83,200,255,1.00);
	border-radius: 20px;
	background-color: rgba(202,232,239,0.55);
	text-align: center;
}

.dragBox:hover {
	cursor: pointer;
}

#drag1 {
	top: 1940px;
}

#drag2 {
	top: 2325px;
}

.folder {
	height: 80%;
	position: absolute;
	z-index: 0;
	opacity: 0.7;
}

.plus {
	font-family: 'Rubik', sans-serif;
	font-size: 50px;
	color: rgba(0,175,255,1.00);
	position: absolute;
	z-index: -1;
	text-align: center;
	opacity: 0.7;
}

#carouselP {
	position: absolute;
	top: 2600px;
	width: 100%;
	height: 450px;
	align-content: center;
	justify-content: center;
	display: flex;

	background-color: rgba(198,198,198,0.40);
	border-bottom: 10px solid rgba(50,50,50,0.7);
	border-top: 7px solid rgba(50,50,50,0.7);
}

#preview {
	position: absolute;
	align-self: center;
	top: 267px;
	border-radius: 40px;
	border-style: hidden;
}

.sponsorInfo {
	font-family: 'Rubik', sans-serif;
	background: transparent;
	border-bottom: 2px solid black;
	border-radius: 0;
	padding: 0;
	letter-spacing: .5px;
}

#bankBox {
	position: absolute;
	height: 23%;
	width: 80%;
	top: 3133px;
}

.infoBox {
	height: 30%;
	width: 100%;
	margin-bottom: 2%;
}

.textBox {
	width: 100%;
	height: 60%;
}

#cardInfo {
	height: 63%;
}

#cardNum {
	width: 67%;
	height: 100%;
}

#month {
	width: 8%;
	height: 100%;
	text-align: center;
}

#year {
	width: 8%;
	height: 100%;
	text-align: center;
}

#cvv {
	width: 10%;
	height: 100%;
	margin-left: 2%;
	text-align: center;
}

#cNameInput {
	width: 100%;
	height: 60%;
}

#confirm {
	top: 373%;
	position: absolute;
}

#disclaimer {
	top: 385%;	
	position: absolute;
	margin-bottom: 6%;
}

#terms {
	color: white;
}

#terms:hover {
	color: deepskyblue;
	cursor: pointer;
}
/*
=================================================================================================
====================================  Global Styles  ============================================
=================================================================================================
*/

*:focus {
    outline: none;
}

.caption {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #FFF;
	cursor: default;
}

.captionB {
	font-family: 'Fredoka One', cursive;
	font-weight: 1000;
	color: rgba(44,44,44,0.79);
	cursor: default;
}

.grey {
	color: rgba(44,44,44,0.79);
}

.home {
	position: absolute;
	top: 8px;
	left: 8px;
	padding: 0px 0px;
	height: 50px;
	z-index: 1;
	border-radius: 30px;
	border-style: hidden;
}

.house {
	height: 45px;
	width: 45px;
	margin: 0px 2.5px;
}

.icon {
	position: absolute;
	top: -13px;
	right: 0px;
	padding: 0px 0px;
	height: 35px;
	z-index: 1;
	border-radius: 30px;
	border-style: hidden;
	background-color: deepskyblue;
	display: flex;
	align-content: center;
	justify-content: center;
	opacity: 0.8;
}

.icon:hover {
	opacity: 1;
	cursor: default;
	box-shadow: 1px 3px 4px rgba(0,0,0,0.3);
}

.food {
	height: 30px;
	width: 30px;
	margin: 2px 2.5px;
	display: none;
}

.art {
	height: 27px;
	width: 27px;
	margin: 4px 4px;
	display: none;
}

.apparel {
	height: 25px;
	width: 25px;
	margin: 5px 5px;
	display: none;
}

.other {
	height: 25px;
	width: 25px;
	margin: -4px 5px;
	font-size: 32px;
	transform: translateX(1px);
	text-shadow: 1px 3px 4px rgba(0,0,0,0.3);
}

input {
	width:400px;
	height:50px;
	font-size: 28px;
	font-family: 'Fredoka One', cursive;
	padding: 16px 32px;
	letter-spacing: 1.5px;
	border-radius: 40px;
	border-style: hidden;
}

.sponsor {
	position: absolute;
	padding: 0px 20px;
	height: 50px;
	z-index: 1;
	border-radius: 30px;
	border-style: hidden;
	font-size: 20px;
	opacity: 0.75;
}

button:active {
	box-shadow: var(--shadow-hover), inset 0 0 40px #6b6b6b;
	background-color: rgb(0,0,0); 
	--dark: rgb(60,60,60);
}

polygon {
	fill: var(--dark) !important;
	transition: fill var(--duration) ease, -webkit-transform var(--duration) ease;
}
/*
=================================================================================================
====================================  Not My Code   =============================================
=============   https://codemyui.com/jumping-smoke-and-drive-button-hover-effect/   =============
=================================================================================================
*/

@-webkit-keyframes move {
  40% {
    -webkit-transform: translateY(var(--move));
            transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

@keyframes move {
  40% {
    -webkit-transform: translateY(var(--move));
            transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

button {
  --dark: grey;
  --text: #FFF;
  --font-size: 45px;
  --duration: .5s;
  --shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.5);
  --shadow-hover: 0 4px 15px -2px rgba(0, 0, 0, 1);
  padding: 16px 32px;
  font-family: 'Fredoka One', cursive;
  line-height: var(--font-size);
  font-size: var(--font-size);
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1.5px;
  background: #383838;
  color: var(--text);
  box-shadow: var(--shadow);

  -webkit-transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: background-color var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

button.next {
  -webkit-transform: translateY(var(--y));
          transform: translateY(var(--y));
}

button.enter {
  -webkit-transform: translateY(var(--y));
          transform: translateY(var(--y));
}

#start div {
  display: -webkit-box;
  display: flex;
}
#start div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
}
#start div span:nth-child(1) {
  --d: 0.05s;
}
#start div span:nth-child(2) {
  --d: 0.1s;
}
#start div span:nth-child(3) {
  --d: 0.15s;
}
#start div span:nth-child(4) {
  --d: 0.2s;
}
#start div span:nth-child(5) {
  --d: 0.25s;
}

button:hover {
  --y: -4px;
  --shadow: var(--shadow-hover);
  --move: -4px;
  --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
}
button:hover span {
  -webkit-animation: move var(--duration) linear var(--d);
          animation: move var(--duration) linear var(--d);
}


html {
  box-sizing: border-box;
}
 
