@charset "utf-8";
/* CSS Document */


@-webkit-keyframes start {
  from {color: #2ee600; text-shadow: 0.6vh 1vh 0.5vh black;}
  to {color: white;}
}

@keyframes float { /* Home Page Logo Float Animation */
	50% {transform: translateY(2vh);}
}

@keyframes float2 { /* Home Page Logo Float Animation */
	50% {transform: translateY(1vh);}
}

/*
=================================================================================================
===================================  Pretty Background  =========================================
=================================================================================================
*/

body {
	margin: 0px;
	background-color: black;
	overflow: hidden;
}

.bg {
	width: 100%;
	height: 100vh;	
	position: absolute;
	align-items: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
}

#bg0 {
	position: absolute;
	animation: none;
	background-color: black;
	z-index: 5;
	opacity: 1;
}

#bg01 {
	width: 100%;
	height: 100vh;	
	background-image: linear-gradient(180deg,#55d743, #caff40);
	z-index: 0;
	opacity: 1;
	filter: blur(300px);
}

#bg02 {
	width: 100%;
	height: 100vh;	
	background-color: #3bbd1a;
	z-index: -1;
	opacity: 1;
}

#bg1 {
	position: absolute;
	z-index: -3;
	width: 500%;
}

#bg2 {
	position: absolute;
	z-index: -2;
	filter: contrast(85%) blur(5vh) saturate(200%) brightness(80%) hue-rotate(20deg);
	opacity: 0.85;
	width: 150%;
}

#bgBlack {
	width: 100%;
	height: 97%;
	top: 1.5%;
}

/*
=================================================================================================
=======================================  Scene 1  ===============================================
=================================================================================================
*/
.Scene1 {	
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	position: absolute;
	z-index: 4;
}

#info {
	position: absolute;
	top: 3%;
	left: 1%;
	padding: 0px 0px;
	height: 5vh;
	width: 5vh;
	z-index: 1;
	border-radius: 30vh;
	border-style: hidden;
	font-size: 3vh;
	opacity: 0.75;
}

#s1 {
	top: 3%;
	right: 1%;
}

#titleBox {
	position: absolute;
	visibility: hidden;
	z-index: 6;
	transform: translateY(-15.5vh);
}

#title {
    text-align: center;
    font-size: 13.5vh;
    font-family: 'Rubik', sans-serif;
	font-style: italic;
	font-weight: 650;
    color: black;
	animation: float 6s ease-in-out infinite normal;
	text-shadow: 0.8vh 0.8vh 0.3vh rgb(40 40 40);
}

#black {
	color: white;
	cursor: default;
	text-shadow: 0.8vh 0.8vh 0.3vh rgb(73 73 73);
}

#black:hover {
	color: black;
	text-shadow: 0.8vh 0.8vh 0.3vh #fff;
}

#cash {
	position: relative;
	margin-left: 3.5vh;
	color: white;
	text-shadow: 0.8vh 0.8vh 0.3vh rgb(73 73 73);
	animation: start 1.3s linear normal;
	cursor: default;
}

#cash:hover {
	color: #2ee600;
	text-shadow: 0.8vh 0.8vh 0.3vh rgb(40 40 40);
}

#subtitle {
	position: absolute;
	width: 100%;
	top: 15vh;
	font-weight: 450;
	font-size: 4vh;
	color: white;
	text-shadow: 0.15vh 0.45vh 0.05vh rgb(75 75 75);
	cursor: default;
}

#startBox {
	position: absolute;
	z-index: 1;
	transform: translateY(9.5vh);
	height: 8.6vh;
}

#start {
	padding: 1.6vh 3.2vh;
	border-radius: 40vh; 
	background: #2d2d2d;
	color: var(--text);
	font-size: 5vh;
}

/*
=================================================================================================
=======================================  Scene 2  ===============================================
=================================================================================================
*/

.Scene2 {
	visibility: hidden;
	
	height: 100vh;
	width: 100%;
	position: absolute;
	align-items: center;
	justify-content: center;
	display: flex; 
	z-index: 3;
}

#c2 {
	position: absolute;
	font-size: 6.45vh;
	top: 28vh;
	text-align: center;
	width: 75vh;
	animation: float2 6s ease-in-out infinite normal;
	cursor: default;
	text-shadow: 4px 4px 3px #000000;
}

#formBox {
	position: fixed;
	width: 100%;
	height: 11%;
	top: 53%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#visitors {
	padding: 0;
    height: 9vh;
    display: flex;
    align-items: center;
}

#access {
	height: 8.6vh;
	border-radius: 40vh;
	border-style: hidden;
}

#enterBox {
	display: flex;
	justify-content: center;
	margin-left: 1vh;
}

#bg3 {
	width: 15.7vh;
	height: 2.6vh;
	position: absolute;
	z-index: 0;
	top: 10.2vh;
	object-fit: cover;
}

#guest {
	position: absolute;
	top: 86%;
	width: 15.2vh;
	font-size: 2.54vh;
	font-weight: 100;
	cursor: pointer;
	background-color: black;
	color: white;
	mix-blend-mode: darken;
	padding: 0.3vh 0.4vh;
}

#guest:hover {text-decoration: underline;}

/*
=================================================================================================
=======================================  Scene 3  ===============================================
=================================================================================================
*/

.Scene3 {
	visibility: hidden;
	
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: 2;
	align-content: center;
	justify-content: center;
	display: flex;
	filter: blur(0px);
}

#b3 {
	width: 100%;
	height: 26%;
	top: 1%;
}

#b32 {
	width: 100%;
	height: 26%;
	bottom: 1%;
}

#g3 {
	width: 100%;
	height: 1%;
	top: 0;
}

#g32 {
	width: 100%;
	height: 1%;
	bottom: 0;
}

.c3 {
	position: absolute;
	font-size: 9vh;
	margin-left: -1vh;
	top: 0.1vh;
	text-shadow: 0.52vh 0.52vh 0.5vh #000000;
}

.t3 {
	position: absolute;
	font-size: 4.65vh;
	top: 44.4%;
	text-align: center;
}

.t32 {
	position: absolute;
	top: 18.3vh;
	text-align: center;
	font-size: 2.65vh;
}

.enter {
	position: absolute;
	align-self: center;
	top: 76.7%;
	border-radius: 40vh;
	border-style: hidden;
	width: 18.98vh;
	height: 7.67vh;
}

#displayName {
	position: absolute;
	right: 0.5%;
	top: 2%;
	height: 6.1%;
	max-width: 39vh;
	color: #909090;
	cursor: default;
	border-radius: 30vh;
	font-size: 2.6vh;
	padding: 0.1vh 2.1vh;
	overflow: hidden;
	opacity: 0.75;
}

#carousel {
	position: absolute;
	top: 27%;
	width: 100%;
	height: 44.3%;
	align-content: center;
	

	background-color: transparent;
	border-bottom: 1vh solid rgba(50,50,50,0.7);
	border-top: 0.7vh solid rgba(50,50,50,0.7);
}

#caroContainer {	
	height: 98%;
	justify-content: flex-start;
	align-content: center;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
}

#raf {
	position: absolute;
	z-index: -2;
	left: 0px;
	width: 0px;
	height: 0px;
}

.raffle {
	flex-shrink: 0;
	position: relative;
	margin-top: 4vh;
	height: 75%;
	width: 28vh;
	justify-content: center;
	display: flex;
	align-self: center;
}

.line {
	display: inline-block;
	height: 87%;
	width: 0.37vh;
	margin: 0% 2.25vh;
	border-radius: 30vh;
	background-color: rgba(75,75,75,1.00);
	flex-shrink: 0;
	align-self: center;
	transform: translateY(3%);
}

.spacer {
	display: inline-block;
	height: 100%;
	width: 0.4vh;
	background-color: transparent;
	flex-shrink: 0;
}

.prize {
    position: relative;
    font-size: 2.25vh;
    top: 30%;
    height: fit-content;
    text-shadow: 0.35vh 0.35vh 0.25vh #000000;
}

#s3 {
	bottom: 3%;
	right: 1%;
}

/* width */
::-webkit-scrollbar {
	margin-bottom: 2vh;
	height: 1vmin;
}

/* Track */
::-webkit-scrollbar-track {
	color: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(95,95,95,.5);
	border-radius: 30vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
	background: rgba(50,50,50,.4); 
}

/*
=================================================================================================
=======================================  Scene T  ===============================================
=================================================================================================
*/

.SceneT{
	visibility: hidden;
	
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex;
	position: absolute;
	line-height: 600px;
	z-index: 10;
	background-color: rgba(0,0,0,0.65);
}

#cT {
	font-size: 50px;
	text-shadow: 4px 4px 3px #000000;
}

#clock {
	width: 400px;
	font-size: 170px;
	font-family: 'Fredoka One', cursive;
	color: white;
	text-shadow: 6px 10px 5px #000000;
	position: absolute;
	transform: translateY(175px);
	text-align: center;
}

.skipBox {
	position: absolute;
	width: 510px;
	height: 80px;
	transform: translate(80px, 575px);
}

#skip{
	position: fixed;
	border-radius: 40px;
	font-size: 40px;
	left: 280px;
}

#continue{
	position: fixed;
	border-radius: 40px;
	font-size: 40px;
}

/*
=================================================================================================
=======================================  Scene S  ===============================================
=================================================================================================
*/

.SceneS {
	display: flex;
	justify-content: center;
	width: 100%;
	visibility: hidden;
}

#bS {
	width: 20%;
	height: 100%;
	left: 0;
}

#bS2 {
	width: 20%;
	height: 100%;
	right: 0%;
}

#countBox {
	display: flex;
	position: absolute;
	top: 17vw;
	height: 27vw;
	width: 100%;
	align-content: center;
	justify-content: center;
	overflow: hidden;
}

#sBox {
	height: 100%;
	width: 60%;
	justify-content: center;
	display: flex;
	position: absolute;
	z-index: 5;
	background-color: transparent;
	border-left: 1vw solid rgba(50,50,50,0.7);
	border-right: 1vw solid rgba(50,50,50,0.7);
	overflow-y: scroll;
	overflow-x: hidden;
}

#count {
	overflow: hidden;
	font-size: 22.5vw;
	color: white;
	text-shadow: 0.6vw 1vw 0.5px #000000;
	text-align: center;
	align-self: center;
	vertical-align: middle;
	min-width: 47vw;
	font-family: 'Fredoka One', cursive;
	letter-spacing: -0.2vw;
	margin-right: 7.6vw;
}

#UpDownBox {
	height: 12.9vw;
	align-self: center;
	transform: translateY(0.7vw);
	width: 8.1vw;
	right: 2vw;
	position: absolute;
}

#up {
	border-top-left-radius: 2.45vw;
	border-top-right-radius: 2.45vw;
	margin-bottom: 0.7vw;
	height: 6vw;
	width: 8.1vw; 
}

#up:hover {
	transform: translateY(0);
}

#down {
	border-bottom-left-radius: 2.45vw;
	border-bottom-right-radius: 2.45vw;
	width: inherit;
	height: 6vw;
}

#down:hover{
	transform: translateY(0);
}

.cS{
	position: absolute;
    font-size: 3.2vw;
    text-align: center;
    width: 82%;
    animation: float2 6s ease-in-out infinite normal;
    cursor: default;
    text-shadow: 0.2vw 0.4vw 0.2vw #000000;
}

#cS1 {
    top: 8.3vw;
}

#cS2 {
	top: 52vw;
}

#timeBox {
	display: flex;
    position: absolute;
    justify-content: space-around;
    width: 80%;
    top: 65.3vw;
    height: fit-content;
}

.time {
	font-size: 4.5vw;
	width: 13.5vw;
	height: 6.4vw;
	border-radius: 50vw;
	opacity: 0.6;
	vertical-align: middle;
	padding: 0vw 2vw;
}

#cS3 {
	font-weight: 450;
    font-size: 4vw;
    position: absolute;
    top: 89.5vw;
    opacity: 1;
    text-shadow: 0.17vw 0.2vw 0.5px #00000033;
}

#price {
	position: absolute;
    height: auto;
    top: 75.6vw;
    font-size: 11.8vw;
    font-weight: 600;
    color: rgba(44,44,44,0.8);
    text-shadow: 0.4vw 0.8vw 0.5vw #2c2c2c52;
}

#cS4 {
	top: 107vw;
}

#catBox {
	display: flex;
    position: absolute;
    justify-content: space-around;
    width: 80%;
    top: 119.5vw;
    height: fit-content;
}

.cat {
    width: 11vw;
    height: 6vw;
    border-radius: 50px;
    opacity: 0.4;
    padding: 0.3vw 0px;
}

.cat:active {
	box-shadow: var(--shadow-hover);
}

#food {
    background-color: orange;
    font-size: 3vw;
}

#art {
    font-size: 3.2vw;
    background-color: red;
}

#apparel {
    font-size: 2vw;
    background-color: limegreen;
}

#other {
    background-color: deepskyblue;
    opacity: 1;
    font-size: 2.8vw;
}

#cS5 {
	top: 139vw;
}

#cS6 {
	top: 142.9vw;
	font-size: 2.2vw;
}

#cS7 {
	top: 177.6vw;
}

#cS8 {
	top: 181.2vw;
	font-size: 2.2vw;
}

.dragBox {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 17vw;
	border: 0.4vw solid rgb(118 118 118);
	border-radius: 1.8vw;
	background-color: rgba(232,232,232,1);
	text-align: center;
	opacity: 0.75;
}

.dragBox:hover {
	cursor: pointer;
}

#drag1 {
	top: 148.5vw;
}

#drag2 {
	top: 187vw;
}

.folder {
	height: 80%;
	position: absolute;
	z-index: 0;
	opacity: 0.7;
}

.plus {
	font-family: 'Rubik', sans-serif;
	font-size: 3vw;
	color: rgb(118 118 118);
	position: absolute;
	z-index: -1;
	text-align: center;
	opacity: 0.7;
}

#carouselP {
	position: absolute;
	top: 215vw;
	width: 100%;
	height: 35.8vw;
	align-content: center;
	justify-content: center;
	display: flex;

	background-color: rgba(198,198,198,0.40);
	border-bottom: 0.9vw solid rgba(50,50,50,0.7);
	border-top: 0.6vw solid rgba(50,50,50,0.7);
}

#raffleP {width: 23vw;height: 26.6vw;margin-top: 3.7vw;
	
}

.lineP {
	display: inline-block;
	height: 87%;
	width: 0.32vw;
	margin: 0% 2.45vw;
	border-radius: 30vh;
	background-color: rgba(75,75,75,1.00);
	flex-shrink: 0;
	align-self: center;
}

.cP {
	position: absolute;
	font-size: 7.3vw;
	margin-left: -1vw;
	text-shadow: 0.42vw 0.42vw 0.4vw #000000;
}

.tP {
	position: absolute;
	font-size: 3.7vw;
	top: 43.4%;
	text-align: center;
}

.tP2 {
	position: absolute;
	top: 15.3vw;
	text-align: center;
	font-size: 2.35vw;
}

.prizeP {
	position: relative;
	font-size: 2.1vw;
	top: 30%;
	height: fit-content;
	text-shadow: 0.35vh 0.35vh 0.25vh #000000;
}

.iconP {
	position: absolute;
	top: -1.8vw;
	right: 0px;
	padding: 0px 0px;
	height: 3.3vw;
	z-index: 1;
	border-radius: 30v;
	border-style: hidden;
	background-color: deepskyblue;
	display: flex;
	align-content: center;
	justify-content: center;
	opacity: 0.8;
}

.iconP:hover {
	opacity: 1;
	cursor: default;
	box-shadow: 0.1vh 0.3vh 0.4vh rgba(0,0,0,0.3);
}

.foodP {
	height: 3vh;
	width: 3vh;
	margin: 0.2vh 0.25vh;
	display: none;
}

.artP {
	height: 2.7vh;
	width: 2.7vh;
	margin: 0.4vh 0.4vh;
	display: none;
}

.apparelP {
	height: 2.5vh;
	width: 2.5vh;
	margin: 0.5vh 0.5vh;
	display: none;
}

.otherP {
	height: 2.5vh;
	width: 2.6vw;
	margin: 0.2vw 0.5vh;
	font-size: 2.8vw;
	transform: translateX(0.1vh);
	text-shadow: 0.1vh 0.3vh 0.4vh rgba(0,0,0,0.3);
}

#preview {
	position: absolute;
	align-self: center;
	top: 20vw;
	border-radius: 40vw;
	border-style: hidden;
}

.sponsorInfo {
	font-family: 'Rubik', sans-serif;
	background: transparent;
	border-bottom: 0.225vw solid black;
	border-radius: 0;
	padding: 0;
	letter-spacing: 0.05vw;
}

#bankBox {
	position: absolute;
	width: 80%;
	top: 260vw;
}

.infoBox {
	height: 4.6vw;
	width: 100%;
	margin-bottom: 0.7vw;
}

.textBox {
	width: 100%;
	height: 60%;
}

#cardInfo{
	height: 3vw;
	width: 47vw;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#cardNum {
	width: 32.4vw;
	height: 2.8vw;
}

#month {
	width: 3.2vw;
	height: 2.8vw;
	text-align: center;
	font-size: 1.7vw;
	top: 0vw;
}

#month::placeholder {
  	color: rgba(44,44,44,0.5);
}

#slash {

}

#year {
	width: 3.2vw;
	height: 2.8vw;
	text-align: center;
	font-size: 1.7vw;
}

#year::placeholder {
  	color: rgba(44,44,44,0.5);
}

#cvv {
	height: 2.8vw;
	text-align: center;
	font-size: 1.7vw;
	width: 3.7vw;
	margin-left: 1vw;
}

#cvv::placeholder {
  	color: rgba(44,44,44,0.5);
}

#confirm {
	top: 292.5vw;
	position: absolute;
	height: 5.2vw;
	width: 15.4vw;
	padding: 0.5vh 2.4vh;
	font-size: 2.4vw;
}

#disclaimer {
	top: 300vw;	
	position: absolute;
	margin-bottom: 5vw;
	font-size: 1.2vw;
}

#terms {
	color: white;
}

#terms:hover {
	color: deepskyblue;
	cursor: pointer;
}
/*
=================================================================================================
====================================  Global Styles  ============================================
=================================================================================================
*/

*:focus {
    outline: none;
}

.caption {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: 900;
	color: #FFF;
	cursor: default;
}

.captionB {
	font-family: 'Fredoka One', cursive;
	font-weight: 1000;
	color: rgba(44,44,44,0.79);
	cursor: default;
}

.grey {
	color: rgba(44,44,44,0.75);
	font-size: 1.3vw;
}

.home {
	position: absolute;
	top: 3%;
	left: 1%;
	padding: 0px 0px;
	height: 5vh;
	z-index: 1;
	border-radius: 30vh;
	border-style: hidden;
}

.house {
	height: 4.5vh;
	width: 4.5vh;
	margin: 0px 0.25vh;
}

.icon {
	position: absolute;
	top: -1.3vh;
	right: 0px;
	padding: 0px 0px;
	height: 3.5vh;
	z-index: 1;
	border-radius: 30vh;
	border-style: hidden;
	background-color: deepskyblue;
	display: flex;
	align-content: center;
	justify-content: center;
	opacity: 0.8;
}

.icon:hover {
	opacity: 1;
	cursor: default;
	box-shadow: 0.1vh 0.3vh 0.4vh rgba(0,0,0,0.3);
}

.food {
	height: 3vh;
	width: 3vh;
	margin: 0.2vh 0.25vh;
	display: none;
}

.art {
	height: 2.7vh;
	width: 2.7vh;
	margin: 0.4vh 0.4vh;
	display: none;
}

.apparel {
	height: 2.5vh;
	width: 2.5vh;
	margin: 0.5vh 0.5vh;
	display: none;
}

.other {
	height: 2.5vh;
	width: 2.5vh;
	margin: -0.4vh 0.5vh;
	font-size: 3.2vh;
	transform: translateX(0.1vh);
	text-shadow: 0.1vh 0.3vh 0.4vh rgba(0,0,0,0.3);
}

input {
	width: 40vh;
	height: 5vh;
	font-size: 2.8vh;
	font-family: 'Fredoka One', cursive;
	padding: 1.6vh 3.2vh;
	letter-spacing: 0.15vh;
	border-radius: 40vh;
	border-style: hidden;
}

.sponsor {
	position: absolute;
	padding: 0px 2vh;
	height: 5vh;
	z-index: 1;
	border-radius: 30vh;
	border-style: hidden;
	font-size: 2vh;
	opacity: 0.75;
}

button:active {
	box-shadow: var(--shadow-hover), inset 0 0 4vh #6b6b6b;
	background-color: rgb(0,0,0); 
	--dark: rgb(60,60,60);
}

polygon {
	fill: var(--dark) !important;
	transition: fill var(--duration) ease, -webkit-transform var(--duration) ease;
}

.black {
	background-color: black;
	position: absolute;
}

.screen {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
}
/*
=================================================================================================
====================================  Not My Code   =============================================
=============   https://codemyui.com/jumping-smoke-and-drive-button-hover-effect/   =============
=================================================================================================
*/

@-webkit-keyframes move {
  40% {
    -webkit-transform: translateY(var(--move));
            transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

@keyframes move {
  40% {
    -webkit-transform: translateY(var(--move));
            transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

button {
  --dark: grey;
  --text: #FFF;
  --font-size: 4.3vh;
  --duration: .5s;
  --shadow: 0 0.2vh 0.8vh -0.1vh rgba(0, 0, 0, 0.5);
  --shadow-hover: 0 0.4vh 1.5vh -0.2vh rgba(0, 0, 0, 1);
  padding: 1.6vh 3.2vh;
  font-family: 'Fredoka One', cursive;
  line-height: var(--font-size);
  font-size: var(--font-size);
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.15vh;
  background: #383838;
  color: var(--text);
  box-shadow: var(--shadow);

  -webkit-transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: background-color var(--duration) ease, -webkit-transform var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  transition: transform var(--duration) ease, box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

button.next {
  -webkit-transform: translateY(var(--y));
          transform: translateY(var(--y));
}

button.enter {
  -webkit-transform: translateY(var(--y));
          transform: translateY(var(--y));
}

#start div {
  display: -webkit-box;
  display: flex;
}
#start div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
}
#start div span:nth-child(1) {
  --d: 0.05s;
}
#start div span:nth-child(2) {
  --d: 0.1s;
}
#start div span:nth-child(3) {
  --d: 0.15s;
}
#start div span:nth-child(4) {
  --d: 0.2s;
}
#start div span:nth-child(5) {
  --d: 0.25s;
}

button:hover {
  --y: -0.4vh;
  --shadow: var(--shadow-hover);
  --move: -0.4vh;
  --shadow-active: 0 0.3vh 0.1vh rgba(0, 0, 0, .2);
}
button:hover span {
  -webkit-animation: move var(--duration) linear var(--d);
          animation: move var(--duration) linear var(--d);
}


html {
  box-sizing: border-box;
}
